<md-dialog md-theme="modalTheme" style="width: 50%;height:auto;max-width: 90%;max-height:100%;">
    <div layout="column">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h3><span>{{actionLabel}}</span></h3>
                <span flex></span>
                <md-button ng-click="closeDialog()">Fechar</md-button>
            </div>
        </md-toolbar>
        <md-content flex layout-padding>
            <form name="usuarioForm" ng-submit="changePassword()" novalidate>
                
                <h3>Nova Senha *</h3>
                <md-input-container md-no-float flex="20" class="md-block">
                    <input type="password" name="novaSenha" ng-model="usuario.novaSenha" md-maxlength="20" required aria-label="senha">
                    <div ng-messages="usuarioForm.senha.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Campo Obrigatório</div>
                        <div ng-message="md-maxlength" class="my-message">Tamanho máximo 20 caracteres</div>
                    </div>
                </md-input-container>                

                <div layout="column" ng-if="loading" layout-align="center center">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                
                <div layout="row" layout-align="center center" style="padding-top:20px">
                    <md-button type="submit" ng-disabled="usuarioForm.$invalid || loading" class="md-raised md-primary"> Alterar senha</md-button>
                    <div flex></div>
                </div>

            </form>
        </md-content>    
    </div>
</md-dialog>