<md-toolbar layout="row" >
    <h3> Zombie Survival Social Network</h3>
    <span flex></span>
    <md-button ng-controller="menuController" ng-click="logout()"> Logout</md-button>
</md-toolbar>

<div layout="row" flex>

    <md-sidenav
        class="md-sidenav-left md-whiteframe-z2"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4">
        <div layout="column" layout-fill ng-controller="accountController">
            <md-button ng-class="{ 'md-raised md-primary': isActive('/account/home') }" ui-sref="account.home">Home</md-button>
            <md-divider></md-divider>
            <md-button ng-class="{ 'md-raised md-primary': isActive('/atividades') }" ui-sref="account">Me</md-button>
            <md-button ng-class="{ 'md-raised md-primary': isActive('/atividades') }" ui-sref="account">Non-Infected Survivors</md-button>
            <md-button ng-class="{ 'md-raised md-primary': isActive('/atividades') }" ui-sref="account">Infected Survivors</md-button>
            <md-button ng-class="{ 'md-raised md-primary': isActive('/atividades') }" ui-sref="account">Reports</md-button>
        </div>
    </md-sidenav>

    <md-content flex id="content">
        <ui-view flex></ui-view>
    </md-content>
</div>