<!DOCTYPE html>
<html lang="en-us" ng-app="zssnApp">
    <head>
        <title>ZSSN</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="/assets/libs/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/libs/angular/angular-material.min.css" />
        <link rel="stylesheet" href="/assets/libs/datatables/datatables.min.css" />
        <link rel="stylesheet" href="/assets/css/style-login.css" />

        <script src="/assets/libs/jquery/jquery-2.2.3.min.js"></script>
        <script src="/assets/libs/bootstrap/bootstrap.min.js"></script>
        <!-- needed angular-moment -->
        <script src="/assets/libs/moment/moment.min.js"></script>
        <!-- needed angular-datatables -->
        <script src="/assets/libs/datatables/datatables.min.js"></script>

        <script src="/assets/libs/angular/angular-1.5.5.min.js"></script>
        <!-- <script src="/assets/libs/angular/angular-route-1.5.5.min.js"></script> -->
        <script src="/assets/libs/angular/angular-ui-router.min.js"></script>
        <script src="/assets/libs/angular/angular-cookies.min.js"></script>
        <script src="/assets/libs/angular/angular-animate.min.js"></script>
        <script src="/assets/libs/angular/angular-aria.min.js"></script>
        <script src="/assets/libs/angular/angular-messages.min.js"></script>
        <script src="/assets/libs/angular/angular-material.min.js"></script>
        <script src="/assets/libs/angular/angular-moment.min.js"></script>
        <script src="/assets/libs/angular/angular-datatables.min.js"></script>
        
        <script src="/assets/libs/angular/ng-map.min.js"></script>
        <script src="http://maps.google.com/maps/api/js"></script>

        <script src="/assets/libs/angular/ngMask.min.js"></script>
        <script src="/assets/libs/angular/angular-ui-mask.min.js"></script>
        <script src="/assets/libs/angular/angular-ui-validate.min.js"></script>
        
        <script src="/app/zssn-app.js"></script>
    </head>
    <body layout="column">
        <div flex layout="row">
            <md-content id="content" flex>
                <ui-view>
                </ui-view>
            </md-content>
        </div>
    </body>
</html>